<div class="container">
  <div class="row">
    <aside class="col-sm-4">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Forgot Password</h4>
          <form [formGroup]="passwordForm">
            <div class="form-group">
              <label>New Password</label>
              <input name="" class="form-control" placeholder="New password" type="password">
            </div> <!-- form-group/ -->
            <div class="form-group">
              <label>Confirm Password</label>
              <input name="" class="form-control" placeholder="Confirm password" type="password">
            </div> <!-- form-group/ -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Send </button>
            </div> <!-- form-group// -->
          </form>
        </article>
      </div> <!-- card.// -->
    </aside> <!-- col.// -->
  </div>
</div>